@model List<Product>
@{
	ViewData["Title"] = "Home Page";
}

<div class="row" id="recommended">
	<h2 class="row-title">Рекомендуемые товары</h2>

	@foreach (var product in Model)
	{
		<div class="col-4 mb-4">
			<div class="card">
				<img src="/img/product.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="productId">Артикул товара: @product.Id</h5>
					<a href="/product/index/@product.Id" class="card-title">@product.Name</a>
					<h5>@product.Cost &#8381</h5>
					<h6 class="card-text">@product.Description</h6>
					<a href="#" class="btn btn-primary">Добавить в корзину</a>
					<a href="#" class="btn btn-light float-end heart">&#9825;</a>
				</div>
			</div>
		</div>
	}
</div>






