@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div>
	@foreach (var product in Model)
	{
		<a href="/product/index/@product.Id">@product.Id</a>
		<p>@product.Name</p>
		<p>@product.Cost</p>
		<p></p>
	}
</div>
